/* Body and structure
-------------------------------------------------- */
body {
  color: #444;
  background-color: #fff;
  position: relative;
}
section {
}
li {
  color: #444;
}
a {
  color:#5C7996;
  text-decoration:none;
  border:0;
}
a:hover,
a:active {
  color:#2e4962;
  text-decoration:none;
  border:0;
}
h2 {
  font-size: 22px;
  line-height: 35px;
}
h2 a {
  color:#333;
}
pre {
  color: #EEEEEE;
  margin: 1em auto;
  padding: 1em;
  white-space: pre-wrap;
  width: 95%;
  background-color: #000;
  display: block;
  font-size: 12px;
  line-height: 18px;
  word-wrap: break-word;
}

div.quickstart {
  background-color: #f9f9f9;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #eee;
  margin-top: 45px;
  margin-bottom: 30px;
}
div.quickstart div.row {
  margin: 0 -20px;
  -webkit-box-shadow: 1px 0 0 #f9f9f9;
   -moz-box-shadow: 1px 0 0 #f9f9f9;
      box-shadow: 1px 0 0 #f9f9f9;
}
div.quickstart div.columns {
  width: 285px;
  height: 100px;
  margin-left: 0;
  padding: 20px 0 30px 35px;
  border-left: 1px solid #eee;
  -webkit-box-shadow: inset 1px 0 0 #f9f9f9;
   -moz-box-shadow: inset 1px 0 0 #f9f9f9;
      box-shadow: inset 1px 0 0 #f9f9f9;
}
div.quickstart div.columns:last-child {
  border-right: 1px solid #eee;
  width: 286px;
}
div.quickstart h6,
div.quickstart p {
  line-height: 18px;
  text-align: left;
  color: #333;
}
div.quickstart h6 {
  color: #999;
  font-size: 16px;
}
div.quickstart div.icon {
  padding: 55px 0 0 10px;
  width: 230px;
  text-align: left;
}

.content {
  width:700px;
  float:left;
}

.sidebar {
  width:200px;
  float:right;
  color:#444;
}
.sidebar h2 {
  font-size: 20px;
}
.sidebar .social {
  list-style-type: none;
  margin: 5px 0 0 0;
}

.pagination ul li a:hover, .pagination ul li.active a {
  background-color: #EBEBEB;
}
.pagination ul li a {
  border-right: 0;
  line-height: 24px;
  padding: 0 9px;
  color: #777;
}
.page-header {
  border: 0;
  padding-bottom: 10px;
  margin: 0;
}

#post .description {
  background: none repeat scroll 0 0 #F5F5F5;
  border-radius: 0 0 3px 3px;
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
  margin-bottom: 18px;
  margin-top: 10px;
  padding: 15px;
}

#footer {
  background-color: #161616;
  background-repeat: no-repeat;
}
#footer {
  background-color: #000;
  background-image: -moz-linear-gradient(#444, #000);
  background-repeat: no-repeat;
  margin-top: 40px;
}
#footer p {
  margin-bottom: 0;
}
#footer h1,
#footer p {
  color: rgba(255,255,255,.8);
  text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#footer p a {
  color: #fff;
  font-weight: bold;
}

#footer p.right {
  float: right;
}
#footer span.poweredby {
  opacity:0.6;filter:alpha(opacity=60)
}
#footer div.inner {
  padding: 45px 0;
  -webkit-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 10px 30px rgba(0, 0, 0, 0.3);
}

/* Special grid styles
-------------------------------------------------- */
.show-grid {
  margin-top: 10px;
  margin-bottom: 10px;
}
.show-grid .column, .show-grid .columns {
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
      border-radius: 3px;
  height: 30px;
  line-height: 30px;
}
.show-grid:hover .column, .show-grid:hover .columns {
  background: rgba(0, 0, 0, 0.25);
}

/* Topbar special styles
-------------------------------------------------- */
div.topbar-wrapper {
  position: relative;
  height: 40px;
  margin: 5px 0 15px;
}
div.topbar-wrapper div.topbar {
  position: absolute;
  margin: 0 -20px;
}
div.topbar-wrapper div.topbar .fill {
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
      border-radius: 4px;
}
div.topbar ul li a {
  padding: 13px 15px 14px 15px;
}
div.topbar h3 a {
  margin-left: 0;
  padding: 10px 20px 14px 0;
  font-size: 22px;
}
div.topbar h3 img.apifyicon,
div.topbar .secondary-nav img {
  border: medium none;
  cursor: pointer;
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 6px;
  vertical-align: top;
}
div.topbar .secondary-nav img.fbicon {
  width: 16px;
  height: 16px;
  margin-top: 2px;
}

/* Forms
-------------------------------------------------- */
label {
	text-align: right;
  width: 60px;
}
div.input {
  margin-left: 80px;
}
.actions {
  padding: 15px 20px 18px 80px;
}
.actions.comment{
	text-align: right;
}
.actions.back {
	height: 18px;
  text-align: right;
}

select {
  width: 220px;
}
textarea.post {
  height: 200px;
}

