$def with (content)
<!DOCTYPE html>
<html lang="en" xmlns:og="http://opengraphprotocol.org/schema/">
<head>
    <title>$content.title</title>
    <meta charset="utf-8">
    <meta name="author" content="Federico Cargnelutti">
    <meta name="description" content="mvc.py allows you to use web.py framework in a Model-View-Controller fashion and keep the code separate from each other">
    <meta name="title" content="mvc.py - web.py web application written in MVC style" />
    <meta name="keywords" content="web api, api, apify, rest, restful, web services, framework, library, web development, mobile development, web application, mobile application, web programming, web development london" />
    <meta name="language" content="en" />
    <meta name="robots" content="all,index,follow" />
    <meta name="distribution" content="global" />
    <meta name="rating" content="general" />
    <meta content="all" name="robots" />
    <meta content="global" name="distribution" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Style-Type" content="text/css" />
    
    <!-- html5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/docs.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    
    <!-- jquery -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
</head>

<body>

<!-- Topbar
================================================== -->
<div class="topbar">
  <div class="fill">
    <div class="container">
      <h3><a href="/">mvc.py</a></h3>
        <ul>
          <li class="active"><a href="/users?sort=name">Sort by name<span></span></a></li>
          <li class=""><a href="/users?sort=email">Sort by email<span></span></a></li>
          <li class=""><a href="/users/new">Add user<span></span></a></li>
        </ul>
    </div><!-- /container -->
  </div>
</div><!-- /topbar-->

<div class="quickstart">
</div>

<div class="container">
    <div class="content">
    $:content
    </div>
</div>
    
<div id="footer">
  <div class="inner">

    <div class="container">
      <p class="right">Powered by <span class="poweredby">web.py &amp; mvc.py</span></p>
      <p>Copyright &copy; 2012 <a href="http://www.fedecag.com" target="_blank">Federico Cargnelutti</a>. All Rights Reserved.</p></p>
    </div>
    
  </div>
</div>

</body>
</html>
